* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Macondo';
    background-color: #e6d89a;
}
header{
    display: flex;
    height: 8rem;
    margin: 0.5rem;
    align-items: center;
    background-color: #a3a83e;
    border-radius: 1rem;
    transition: 0.3s;
}

header:hover{
    transform: translateY(-0.2em);
    background-color: #adb42b;
    box-shadow: 0.3rem 0.3rem 0.3rem #34351c;

}

#header__menuLogo{
    height: 1.3rem;
    margin-left: 1.5rem;
}

#header__pageLogo {
    height: 5rem;
    margin-left: 1.5rem;
}

#header__title{
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    padding-left: 0rem;
}
.main__title {
    font-size: 3rem;

}
.main__footer {
    background-color: #a3a83e;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}
.main__footer>a{
    margin-left: 0.5rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__itemFeed__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    background-color: #34351c70;
    border-radius: 2rem;
}
.main__itemFeed__card__quantityForm {
    margin-right: 2rem;
}

#submitForm__buttons {
    display: flex;
justify-content: space-around;
    margin-bottom: 1rem;
}

.main__recapCommand__itemLine>td {
    padding: 0.3rem;
}

.main__recapCommand__itemInfo--rightside>.modifiedBy{
    text-align: right;
}

.main__recapCommand {
    padding: 0.5rem;
}

.main__recapCommand__itemInfo__td--nowrap {
    white-space: nowrap;
}

#cart__main__resetCartButton {
    display: flex;
    justify-content: space-around;
}